<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/events">Events</a>
        </nav>
    </header>
    

    <!-- Main content of your page goes here -->
11
    <footer>
        <p>&copy; 2024 Asila - Nandana - Anjali </p>
    </footer>
</body>
</html>

